{%extends 'base.html'%}
{%block 'body'%}
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
          <li><a href="index.html" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Login / Register</span></li>
        </ul>
      </section>

      <!--=============== LOGIN-REGISTER ===============-->
      <section class="login-register section--lg">
        <div class="login-register__container container grid">
          <div class="login">
            <h3 class="section__title">Login</h3>
            <span>{{loginerr}}</span>
            <form class="form grid" action="{%url 'loginuser'%}" method='post'>
              {%csrf_token%}
              <input
                type="text"
                placeholder="Your username"
                class="form__input"
                name="username"
              />
              <input
                type="password"
                placeholder="Your Password"
                class="form__input"
                name="password"
              />
              <div class="form__btn">
                <button class="btn" type="submit">Login</button>
              </div>
            </form>
          </div>
          <div class="register">
            <h3 class="section__title">Create an Account</h3>
            <span class="text-danger">{{err}}</span>
            <span class="text-success">{{msg}}</span>
            <form class="form grid" action="{%url 'registeruser'%}" method='post'>
              {% csrf_token %}
              <input
                type="text"
                placeholder="Username"
                class="form__input"
                name="username"
              />
              <input
                type="email"
                placeholder="Your Email"
                class="form__input"
                name="email"
              />
              <input
                type="password"
                placeholder="Your Password"
                class="form__input"
                name="password"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form__input"
                name="cpassword"
              />
              <div class="form__btn">
                <button class="btn" type="submit">Submit & Register</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      {%endblock 'body'%}